<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat with a Bot</title>
</head>

<body>

    <div style="visibility: hidden;" id="botid"> {{botid}} </div>

    <div id = "form">

    <div id="title">
        <h1 id="titleText"> </h1>
    </div>
    
    <div>chat:</div>

    <label id = "input" for="input">Input:</label><br>
    <textarea type="text" id="input" name="canonical"  cols="20"></textarea><br>
    <br>
    <input type="submit" value="send" onclick = "sendMessage()"> 
    <br><br>
    <button><a href="/">Back to Home</a></button> 
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script> 
</body>

<style>


    #canonical{
        width: 70%;
    }
    #form{
        text-align: center;
    }
    #name{
        font-size: 30px;
    }
    body{
        background-color :  #d7e5f9;
    }


</style>

</html>