<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Have Two Bots Chat</title>
</head>

<body>

    <div style="visibility: hidden;" id="botid1"> {{botid1}} </div>
    <div style="visibility: hidden;" id="botid2"> {{botid2}} </div>


    <div id = "form">

    <div id="title">
        <h1 id="titleText"> </h1>
    </div>
    
    <div> First Message: </div>
    <textarea type="text" id="input" name="canonical"  cols="20"></textarea><br>

    <div> Number of Responses: </div>
    <textarea type="text" id="numResponses" name="canonical"  cols="20"></textarea><br>

    <br>
    <input type="submit" value="start" onclick = "startChat()"> 
    <br><br>
    <button><a href="/">Back to Home</a></button> 
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat2.js') }}"></script> 

</body>

<style>


    #canonical{
        width: 70%;
    }
    #form{
        text-align: center;
    }
    #name{
        font-size: 30px;
    }
    body{
        background-color :  #d7e5f9;
    }


</style>

</html>