<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Chat with a Bot</title>
</head>

<body>

    <div style="visibility: hidden;" id="botid"> {{botid}} </div>
    <div id = "form">
        <div id="title">
            <h1 id="titleText"> </h1>
        </div>
        <label id = "inputtitle" for="input">Input:</label>
        <textarea type="text" id="input" name="canonical"  cols="20"></textarea>
        <input type="submit" value="send" onclick=sendMessage()> 
        <button><a href="/">Back to Home</a></button> 
        <div id = "Transcript">Conversation Transcript: 
            <br>
            <div id="messages">(responses will appear here)</div>
        </div>


        
    
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat1.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script> 

</body>

<style>


    #canonical{
        width: 70%;
    }
    #form{
        text-align: center;
        white-space:pre-wrap;
    }
    #name{
        font-size: 30px;
    }
    body{
        background-color :  #d7e5f9;
    }

    #inputMessages{
        float: right;
        width: 50%;
    }

    #messages{
        float: left;
        width: 50%;

    }




</style>

</html>