<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style/basic.css">
<link rel="stylesheet" href="../static/style/chats.css">
<html lang="en">

<!-- html for chat with 1 bot -->

<head>
    <meta charset="utf-8"/>
    <title>Chat with a Bot</title>
</head>

<body>

    <div style="visibility: hidden;" id="botid"> {{botid}} </div>
    <div class="bar">
        <!-- Header bar -->
        <div class="left">
            <button class="btn"><a href="/"><i class="fa fa-home"></i> Home</a></button> 
        </div>
        <div class="right">
            <div id="title">
                <h1 id="titleText"> </h1>
            </div>
        </div>
    </div>
    <!-- Chat area -->
    <div id = "form">
        <div class = "Transcript"> 
            <div id="messages"></div>
        </div>
        <div class="msger-inputarea">
            <input type="text" placeholder="Enter your message..." id="input" name="canonical"  cols="20"></input>
            <input type="submit" class="msger-send-btn" value="send" onclick=sendMessage()>  
        </div> 
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat1.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script> 

</body>


</html>