<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="stylesheet" href="../static/style/basic.css">
<link rel="stylesheet" href="../static/style/form.css">
<link rel="stylesheet" href="../static/style/codeEditor.css">

<!-- create language html -->
<head>
    <meta charset="utf-8"/>
    <title>Create a Language</title>
</head>

<body>
    <!-- Header bar -->
    <div class="bar">
        <div class="left">
          <button class="btn"><a href="/"><i class="fa fa-home"></i> Home</a></button> 
        </div>
        <div class="right">
            <h1 id="titleText"> Create a Language </h1>
        </div>
    </div>

    <div id = "form">
    <!-- name input -->
    <div>
        <label id = "name" for="botname">Language Name:</label>
        <input type="text" id="langname" name="langname">
    </div>
    <!-- language mapping -->
    <div style="text-align:left;" id = mapping>
        <h2>Language Mapping</h2>
        <div id = "block"><label>{ifAny}:</label> <input type="text" id="ifAny" > </div>
        <div id = "block"><label>{andNotAny}:</label> <input type="text" id="andNotAny" > </div>
        <div id = "block"><label>{ifAll}:</label><input type="text" id="ifAll"> </div>
        <div id = ""><label>{andNotAll}:</label><input type="text" id="andNotAll"> </div>
        <div id = ""><label>{replyLine}:</label><input type="text" id="replyLine"> </div>
        <div id = ""><label>{startReply}:</label><input type="text" id="startReply"> </div>
        <div id = ""><label>{endReply}:</label><input type="text" id="endReply"> </div>
        <div id = ""><label>{endIf}:</label><input type="text" id="endIf"> </div>
        <div id = ""><label>{pickRandom}:</label><input type="text" id="pickRandom" > </div>
        <div id = ""><label>{endPick}:</label><input type="text" id="endPick"> </div>
        <button id="saveBtn" type="submit" onclick = "createLang()"><i class="fa-regular fa-circle-up"></i> Create Language</button> 
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/createLang.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
</body>

</html>