<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style/basic.css">
<link rel="stylesheet" href="../static/style/codeEditor.css">
<link rel="stylesheet" href="../static/style/form.css">

<!-- html for Create Bot -->
<head>
    <meta charset="utf-8"/>
    <title>Create a Bot</title>
</head>

<body>
    <!-- Header bar -->
    <div class="bar">
        <div class="left">
          <button class="btn"><a href="/"><i class="fa fa-home"></i> Home</a></button> 
        </div>
        <div class="right">
            <h1 id="titleText"> Create a Bot </h1>
        </div>
      </div>

    <div style="visibility: hidden;" id="langid"> {{langid}} </div>

    <!-- bot name input -->
    <div id="form">
        <div class="block">
            <label id = "name" for="botname">Name:</label>
            <input type="text" id="botname" name="botname">
    </div>

    <!-- bot description input -->
    <div class="block">
        <label id = "name" for="description">Description:</label>
        <textarea type="text" id="description" name="description" rows="10" cols="20"></textarea>
    </div>

    <!-- text above code edit area -->
    <div id="aboveCode">
        <p id = "editCode" > Write Code Below</p>
        <button id="saveBtn" type="submit" onclick = "saveBot()"><i class="fa fa-floppy-o"></i> Save Bot</button> 
    </div>

    <!-- code edit area -->
    <div class="code-editor-container">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <textarea class="code-editor code-editor-background" id="editor"></textarea>
            <div class="code-editor code-editor-foreground" id="out"></div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script> 
</body>


</html>