<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <title>Edit a Bot</title>
</head>

<body>
    <div id="title">
        <h1> Edit a Bot </h1>
    </div>

    <div style="visibility: hidden;" id="botid"> {{botid}} </div>

    <label for="botname">Name:</label> 
    <input type="text" id="botname" name="botname"><br>


    <!-- going to use comments instead -->
    <!-- <label for="desc">Description:</label><br>
    <input type="text" id="desc" name="desc"><br> -->

    <label for="canonical">Code:</label><br>
    <input type="text" id="canonical" name="canonical"><br>
    <br>
    <input type="submit" value="Save this Bot" onclick = "interpretCode()">
    <br><br>
    <button><a href="/">Back to Home</a></button> 


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static', filename='js/editor.js') }}"></script> 


</body>

</html>